ExpiresActive On
ExpiresByType text/html "access plus 0 seconds"
ExpiresByType text/xml "access plus 0 seconds"
ExpiresByType application/xml "access plus 0 seconds"
ExpiresByType application/json "access plus 0 seconds"
 
# Feed RSS - 1 hora
ExpiresByType application/rss+xml "access plus 1 hour"
 
# Favicon - 1 semana
ExpiresByType image/vnd.microsoft.icon "access plus 1 week"
 
# Imagens, vídeo, audio - 1 semana
ExpiresByType image/gif "access plus 1 week"
ExpiresByType image/png "access plus 1 week"
ExpiresByType image/jpg "access plus 1 week"
ExpiresByType image/jpeg "access plus 1 week"
 
ExpiresByType video/ogg "access plus 1 week"
ExpiresByType audio/ogg "access plus 1 week"
ExpiresByType video/mp4 "access plus 1 week"
ExpiresByType video/webm "access plus 1 week"
 
# Webfonts - 1 ano
ExpiresByType font/truetype "access plus 1 year"
ExpiresByType font/opentype "access plus 1 year"
ExpiresByType font/woff "access plus 1 year"
ExpiresByType image/svg+xml "access plus 1 year"
 
# CSS / jScript - 5 dias e 2 horas
ExpiresByType text/css "access plus 5 days 2 hours"
ExpiresByType application/javascript "access plus 5 days 2 hours"
ExpiresByType text/javascript "access plus 5 days 2 hours"

# Expires somente no arquivo estilo.css, formato GMT
<FilesMatch "estilo\.css$">
Header set Expires "Thu, 15 Apr 2012 20:00:00 GMT"
</FilesMatch>

# Desativar Expires somente no arquivo index.html
<FilesMatch "estilo\.css$">
Header unset Expires
</FilesMatch>