<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Henrique Monteiro Junior">
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="Utilizando as meta tags do Facebook.">
    <meta property="og:site_name" content="Tableless">
    <title>{{ site.name }}</title>
    <link rel="shortcut icon" href="/assets/images/favicon/android-icon-36x36.png"/>
    <link rel="stylesheet" href="/assets/css/slackware.css">
</head>
<body>
{% include nav.html %}