<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}">
            <img src="{{ site.url }}{{ site.logo }}" alt="Slackware Linux" height="36"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-end" id="navbarsExampleDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/pages/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/getslack">Get Slack</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/info">General Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/book">Book</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Support</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/pages/support">Support</a>
                        <a class="dropdown-item" href="/pages/contact">Contact</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>