<ul class="nav flex-column">
    <li class="nav-item"><a href="/pages/whyuse">Why use</a></li>
    <li class="nav-item"><a href="/pages/faq">FAQ</a></li>
    <li class="nav-item"><a href="/pages/config">Configuration</a></li>
    <li class="nav-item"><a href="/pages/changelogs">ChangeLogs</a></li>
    <li class="nav-item"><a href="/pages/install">Install Help</a></li>
    <li class="nav-item"><a href="/pages/list">Mailing Lists</a></li>
    <li class="nav-item"><a href="/pages/links">Other Sites</a></li>
    <li class="nav-item"><a href="/pages/packages">Packages</a></li>
    <li class="nav-item"><a href="/pages/ports">Ports</a></li>
    <li class="nav-item"><a href="/pages/media">Advertising</a></li>
    <li class="nav-item"><a href="/pages/security">Security Advisories</a></li>
</ul>