<ul class="nav flex-column">
    <li class="nav-item"><a href="./whyuse">Why use</a></li>
    <li class="nav-item"><a href="./faq">FAQ</a></li>
    <li class="nav-item"><a href="./config">Configuration</a></li>
    <li class="nav-item"><a href="./changelogs">ChangeLogs</a></li>
    <li class="nav-item"><a href="./install">Install Help</a></li>
    <li class="nav-item"><a href="./list">Mailing Lists</a></li>
    <li class="nav-item"><a href="./links">Other Sites</a></li>
    <li class="nav-item"><a href="./packages">Packages</a></li>
    <li class="nav-item"><a href="./ports">Ports</a></li>
    <li class="nav-item"><a href="./media">Propaganda</a></li>
    <li class="nav-item"><a href="./security">Security Advisories</a></li>
</ul>