body {
    padding-top: 5rem;
}

.news a {
    color: #343a40 !important;
    font-weight: 500;
}

.news .text-white a {
    color: #fff !important;
}

.container {
    max-width: 940px
}

.news .title {
    margin-bottom: 20px;
    color: #b5b5b5;
}

.news .row p:first-child {
    padding-top: 10px
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.bd-sidebar {
    -ms-flex-order: 0;
    order: 0;
    /*border-bottom: 1px solid rgba(0, 0, 0, .1);*/
}

.pages a {
    text-decoration: underline;
}

.bd-sidebar {
    border: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

@media only screen and ( max-width: 575px) {
    .row {
        padding: 0 10px
    }
}